<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Profile</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
</head>

<body>
  <!-- nav bar -->
    <div class="profile">My Profile</div>

    <!--  user favourites -->
    <div>
      user Favourite Map
      <ul>Titles of the map
          <li>Fav map 1</li>
          <li>Fav map 2</li>
          <li>Fav map 3</li>
          <li>Fav map 4</li>
      </ul>
    </div>

    <!--  user contributions -->
    <div>
      user Contributions
      <ul>Titles of the map
        <li>Fav map 1</li>
        <li>Fav map 2</li>
        <li>Fav map 3</li>
        <li>Fav map 4</li>
    </ul>
    </div>

</body>

</html>
