<!-- Navigation -->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">

  <div class="container">

      <img class= "imageicon" src="https://raw.githubusercontent.com/WilWadman/tweet/master/docs/wikimap.png" alt="..." height="36">

    <a class="wikiname" > wikiMaps </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" id="navitem">

          <% if(!user){ %>
          <!-- Displays if there is no user logged in-->
          <a class="nav-link active" id="login" aria-current="page" href="#">Log In</a>


            <form action ='/users/login' class='login_form' id='login_form' method ='POST'>
            <input class="usernumber" type='text' name ='usernumber' placeholder='add your user number here'></input>
            <button type='submit'  >Log in</button>
          </form>
        </li>

        <% } else { %>
        <!--Displays if there is a user logge din-->
        <li class="nav-item">
          <div class="fav-link">
            <a class="nav-link">Favourites</a>
          </div>
          <a class="nav-link create-map" action="/api/maps" method="POST">Create New Map</a>

        <li class="nav-item dropdown">
      </ul>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
</header>
<!--Scripts-->
<script src="/scripts/createmap.js"></script>
