.list_of_maps {
  padding-top: 3em;

  /*
   *flex box
   */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.favourite_maps {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.contributed_maps {
  display: flex;
  flex-direction: column;
  justify-content: centre;
}

#list_of_contribution_maps {
  margin-left: 50%;
}
#list_of_favourite_maps {
  margin-left: 30%;
}

.fav-link{
  color:rgb(255, 253, 127)
}
