body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );
}

#map {
  height: 100vh;
  width: 100%;
}

.wikiname {
  text-align: center;
  color: rgb(255, 253, 127);
  text-decoration: none;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.button {
  background-color: rgb(255, 253, 127);
  border-radius: 10px;
}
